<template>
  <b-col class="text-center">
     <nav v-bind:class="active" v-on:click.prevent>
    <router-link :to="to" v-on:click="makeActive(link)">
      <span
        class="iconify"
        :data-icon="icon"
        data-inline="false"
        style="width: 36px; height: 36px;"
      ></span>
    </router-link>
    </nav>
  </b-col>
  
</template>

<script>
export default {
  data() {
    return {
      active: '/'
    };
  },
  props: {
    to: String,
    icon: String,
    link: String,
  },
  makeActive: function(item){
    this.active = item;
  }
  
}
</script>

<style></style>
