/* 
    DOCUMENTATION CSS

    00.
    01. LIST GROUP
    02. INPUTS
    03. 

*/

/* VARIÀVEIS */

$red: #f90101;

/* BODY */

body {
  min-height: 100vh;
  background-color: #f7f7f7;

}

/* BREADCRUMB */

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0rem 0rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: none;
  border-radius: 0.25rem;
}

/* LIST GROUP */

.list-group-wrapper {
  position: relative;
}
.list-group {
  overflow: auto;
  height: 50vh;
  border: 2px solid #dce4ec;
  border-radius: 5px;
}
.list-group-item {
  margin-top: 1px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid #dce4ec;
}
.loading {
  text-align: center;
  position: absolute;
  color: #fff;
  z-index: 9;
  background: white;
  padding: 8px 18px;
  border-radius: 5px;
  left: calc(50% - 45px);
  top: calc(50% - 18px);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* INPUTS */

.input-group-text {
  border: 0px solid #ced4da !important;
  color: #ced4da;
  background-color: initial;
}

.border-strong {
  border: 0px solid #dce4ec;
  border-radius: 5px;
}

.input-group-prepend {
  background-color: none !important;
}
.border-clean {
  border: 0px solid #ced4da !important;
}
// INPUT {

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #f3f3f3;
  outline: 0;
  box-shadow: 1px 0px 0px 3px rgb(148 148 148 / 11%);
}

/* CARD */

.card {
  border-radius: 0.75rem;
  border: 0px solid rgba(0, 0, 0, 0.125);
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0.8rem;
}

/* UTILS */
.bg-redcase {
  // background-color: $red;
  background-color: #fff;
  border-bottom: 1px solid whitesmoke;
}
.shadow-clean {
  box-shadow: 5px 5px 13px -4px #00000030;
}

/* DESIGN */

#app {
  height: 80vh;
  overflow: auto;
}
header {
  height: 10vh
}
footer {

height: 10vh;
    background-color: #f5f5f5;
    border-bottom: 1px solid whitesmoke;
    box-shadow: 6px 5px 5px 5px #0000001c;
    z-index: 99999999;
    position: relative;
  a {
    color: gray;
    line-height: 14px;
    height: 64px;
    width: 49px;
    display: grid;
    padding: 14px 7px;
    text-align: center;
    margin: 0 auto;
    &:hover {
      color: #a5a5a5;
    text-decoration: none;
    }
  }
}

/* FIXES */

.input-group > .form-control:not(:first-child),
.input-group > .custom-select:not(:first-child) {
  border-top-left-radius: 0;
  margin-left: 0px;
  padding-left: 43px;
  border-bottom-left-radius: 0;
}

.input-group-prepend {
  margin-right: -1px;
  position: absolute;
  z-index: 9999999999;
}

/* LINKS */

.navbar-dark .navbar-brand {
  color: #a7a7a7;
  &:hover {
    color: #000;
  }
}
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #000;
  &:hover {
    color: #000;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(0 0 0);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: rgb(167 167 167);
}


/* BOTÕES */


.btn {
    border-radius: 1.25rem;
    box-shadow: 7px 4px 9px 0px #0000002b;
}

.btn-primary {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
    &:hover {
      color: #fff;
      background-color: #808080;
      border-color: #808080;
    }
    &:focus {
      color: #fff;
      background-color: #808080;
      border-color: #808080;
    }
}

/* PAGINATION */

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #212528;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #212528;
    border-color: #212528;
}

.pagination {
    display: inline-flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

/* MODAL */
.modal header {
    height: 7vh;
}