<template>
  <section class="form-add">
    <div class="mb-4">
      <b-button v-b-modal.modal-1>Add New</b-button>

      <b-modal id="modal-1" title="Add New Item" hide-footer>
        <Form />
      </b-modal>
    </div>
  </section>
</template>

<script>
import Form from './Form';
export default {
  components: {
    Form
  }
};
</script>

<style></style>
