<template>
  <div>
    <b-form v-on:submit.prevent="onSubmit" @reset="onReset" v-if="show">
      <b-form-group
        id="input-group-name"
        label="Name:"
        label-for="input-input-name"
      >
        <b-form-input
          id="input-name"
          v-model="form.strMeal"
          type="text"
          placeholder="Name"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="input-group-category"
        label="Category:"
        label-for="input-category"
      >
        <b-form-input
          id="input-category"
          v-model="form.strCategory"
          type="text"
          placeholder="Category..."
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="input-group-area"
        label="Area:"
        label-for="input-area"
      >
        <b-form-input
          id="input-area"
          v-model="form.strArea"
          type="text"
          placeholder="Area..."
          required
        ></b-form-input>
      </b-form-group>

      <label for="input-cooking">Cooking Instructions:</label>

      <b-form-textarea
        id="input-cooking"
        v-model="form.strInstructions"
        placeholder="Cooking Instructions..."
        rows="4"
        max-rows="6"
        class="mb-3"
      ></b-form-textarea>

      <b-button id="addNewItemForm" type="submit" class="mr-2" variant="primary">Add</b-button>
      <b-button id="closeItemForm" @click="hideModal()" variant="danger">Close</b-button>

    </b-form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        strMeal: "",
        strCategory: "",
        strArea: "",

      },
      show: true,
    };
  },
  methods: {
    onSubmit(event) {
      event.preventDefault();
      this.$store.dispatch('api/addNewItem', this.form);
    },

    hideModal() {
      this.$root.$emit('bv::hide::modal', 'modal-1', '#btnShow')
    },

    onReset(event) {
      event.preventDefault();
      // Reset our form values
      this.form = "";
      this.form = {};
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
  },
};
</script>
