<template>
  <div>
    <b-navbar fixed="top" toggleable="lg" type="dark" variant="redcase">
      <ul class="nav navbar-nav navbar-logo mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Topin</a>
        </li>
      </ul>
    </b-navbar>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
