<template>
  <div class="container">
    <b-row>
      <IconMenu to="/" link="/" icon="mdi-light:home" />

      <IconMenu to="/details" icon="ic:baseline-account-circle" />
    </b-row>
  </div>
</template>

<script>
import IconMenu from '../../components/icon-menu/IconMenu'
export default {
  components: {
    IconMenu
  }

};
</script>

<style></style>
