<template>
  <div class="about-profile">
    <b-container>
      <section>
        <b-col md="12">
          <b-row>
            <h3>About</h3>
          </b-row>
        </b-col>
      </section>
      <article class="text-left">
        <b-col md="12">
          <b-row>
            <p>
              TOPi - Full Stack Developer Test<br />
              @jonaspimenteldev - VueJS
            </p>
          </b-row>
        </b-col>
      </article>
    </b-container>
  </div>
</template>
