<template>
  <b-container>
    <div class="home">
      
      <HeaderTitle message="What would you like to eat?"/>
      <SearchBar />
      <FormAddItem/>
      <FoodList />
    </div>
  </b-container>
</template>

<script>
import FormAddItem from "@/components/form-add-item/FormAdd.vue";
import SearchBar from "@/components/search-bar/SearchBar.vue";
import FoodList from "@/components/food-list/FoodList.vue";
import HeaderTitle from "@/components/header-title/HeaderTitle.vue"

export default {
  name: "Home",
  components: {
    FormAddItem,
    SearchBar,
    FoodList,
    HeaderTitle
  },
  data() {
      return {
        items: [
          {
            text: 'Dashboard',
            href: '#'
          },
        ]
      }
  }
};
</script>
