<template>
  <section class="food-list">
    <b-card class="text-center mb-4 shadow-clean">
      <div class="list-group-wrapper">
        <transition name="fade">
          <div v-if="this.list.length > 0">
            <b-table
              id="table-api"
              :items="list"
              :fields="fields"
              :per-page="perPage"
              :current-page="currentPage"
              striped
              responsive="sm"
              small
            >
              <template #cell(strMealThumb)="data">
                <b-img
                  class="m-2"
                  v-bind="mainProps"
                  :src="data.item.strMealThumb"
                  alt="Left image"
                ></b-img>
              </template>
              <template #cell(strMeal)="data">
                <div>
                  <b class="text-info">{{ data.item.strMeal }}</b>
                </div>
              </template>

              <template #cell(show_details)="row">
                <b-button
                  id="btnDetailsShowing"
                  size="sm"
                  @click="row.toggleDetails"
                  class="mr-2 mt-1"
                >
                  {{ row.detailsShowing ? "Hide" : "Show" }}
                </b-button>
              </template>

              <template #row-details="row">
                <b-card>
                  <b-row class="mb-2">
                    <b-col sm="3" class="text-sm-right"
                      ><b>Cooking Instructions:</b></b-col
                    >
                    <b-col class="text-left mb-2">{{
                      row.item.strInstructions
                    }}</b-col>
                  </b-row>
                  <b-row class="mb-2 text-center">
                    <b-col sm="3" class="text-sm-right"
                      ><b
                        ><b-button id="btnHideShowing" size="sm" @click="row.toggleDetails"
                          >Hide Details</b-button
                        ></b
                      ></b-col
                    >
                  </b-row>
                </b-card>
              </template>
            </b-table>

            <b-col class="text-center">
              <b-pagination
                v-if="!!this.list && this.list.length > 0"
                v-model="currentPage"
                :total-rows="rows"
                :per-page="perPage"
                aria-controls="table-api"
                size="sm"
              ></b-pagination>
            </b-col>
          </div>

          <div v-else>
            Opps! search is empty
          </div>
        </transition>
      </div>
    </b-card>
  </section>
</template>

<script>
import mixin from "@/mixins/mixins-api";
import mixinFoodList from "@/mixins/mixins-food-list";
export default {
  name: "FoodList",
  mixins: [mixin, mixinFoodList],
};
</script>

<style></style>
