<template>
  <b-card class="text-center mb-4 shadow-clean">
    <div>
      <b-form>
        <b-input-group class="border-strong">
          <b-input-group-prepend class="border-clean" is-text>
            <b-icon icon="search"></b-icon>
          </b-input-group-prepend>
          <b-form-input
            id="searchFoodInput"
            type="search"
            class="border-clean"
            list="list"
            v-on:keyup.enter="validate()"
            debounce="200"
            v-model="name"
            placeholder="find your recipe..."
          ></b-form-input>
          <datalist id="list">
            <option v-for="(item, index) in list" :key="index">
              {{ item.strMeal}}
            </option>
          </datalist>
        </b-input-group>
      </b-form>
    </div>
  </b-card>
</template>

<script>
import mixin from '@/mixins/mixins-api';

export default {
  name: "SearchBar",
  mixins: [mixin],
  data() {
    return {
      name: "",
    };
  },
  watch: {
    name() {
      this.validate();
    },
  },
  methods: {
    validate() {
      if (!this.name) {
        this.clean();
        return;
      }

      if (this.name.length !== 1) {
       this.searchName();
      }
    },
    searchName() {
      this.$store.dispatch('api/getByName', this.name);
    },
    clean() {
      this.$store.dispatch('api/cleanList');
    },
  },
};
</script>
