<template>
  <div>
    <header>
      <Navbar/>
    </header>
    <div id="app">
      <router-view />
    </div>
    <footer class="toolbar-footer">
      <Footer/>
    </footer>
  </div>
</template>

<script>
import Navbar from "@/templates/nav/Navbar";
import Footer from "@/templates/footer/Footer";
export default {
  components: {
    Navbar, Footer
  },
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
